<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="main">
	<div id="main-container">
	  	<h3>Enter your name</h3>
	  	<input type="text" maxlength="20">
	  	<a onclick="$.post('/jsonload', $(this).prev().val()); $(this).hide(); $(this).next().animate({'opacity': '1'});">Save game</a>
	    <a href="/game" style="opacity: 0;"> Press to start the game !</a>
	</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</html>