<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="main">
  	<h3>All players<h3>
	<ul>
		<% 
		var count = 0;
		jsonNames.names.forEach(function(item) { 
		count++;
		%>
		<li><%=count %>. place: <%=item.name %>. Earned <%= item.result %> points</li>
		<% }); %>
	</ul>
	<a href="./">Get Home</a>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</html>